Django>=5.0
djangorestframework
django-allauth
dj-stripe
stripe
django-environ
django-prometheus
whitenoise
django-cors-headers
psycopg2-binary
django-filter
requests
gunicorn
pdfplumber
pytesseract
Pillow
channels
celery[redis]
redis
